html{background-color:black}
html{color:aliceblue}
h1{text-transform: uppercase; font-family:'Caveat', cursive;}
div{text-align: center;}
img{border: 3px solid aliceblue; margin: 50px 0px 0px 0px}
text{color: rgb(253, 59, 59)}